html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.content {
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.comment {
<<<<<<< HEAD
<<<<<<< HEAD
    border-top: dotted 1px #ddd;
    font-size: 1em;
=======
    border-top:dotted 1px #ddd;
    font-size:1em;
>>>>>>> 3630690 (Nagiltae (#9))
=======
    border-top: dotted 1px #ddd;
    font-size: 1em;
>>>>>>> 739f0e5 (style: coinNews.html 마무리 ui작업 완료)
}